# Introduction to DS
## Class 1
### Python

In [3]:
import os
os.getcwd()

'C:\\Users\\megha'

##### Variable Creation

Rules:
1. Names should not start with a number or special character -- exception is _
2. Names which match with predefined funtion names cannot be used 
3. Spaces are not allowed in Python -- Instead use _
###### 4. TO run a cell --> Shift+Enter or Ctrl+Enter
5.Overwriting is allowed in Python

In [1]:
var1 = 20
var1 =200

In [2]:
print(var1)

200

In [4]:
var_112= 30
print(var_112)

30

In [5]:
_var1 = 301
print(var1, _var1)

200 301

In [6]:
var2 = 300
var2 = var2-350
print(var2)

-50

In [7]:
var1 = 30
Var1 = 50
print(var1, Var1)

30 50

Data Types are case sensitive
Integer -- -10,10
Float -- 10.45, -10.45
String -- "Hello", 'Hi','M',"F", hello,hi, HI, HElLo
Boolean -- True, False

In [8]:
# Integer - int
# Float - float
# String - str
# Boolean - bool

In [9]:
#check datatype

type(Var1)

int

In [10]:
type(True)

bool

In [11]:
type(-10.4)

float

In [12]:
type('Hello')

str

In [13]:
j1 = 'hello'
print(type(j1))

<class 'str'>

In [14]:
#LISTS -- [], multiple datatypes are allowed

list1 = ['hello',10.8,-4.5,True]
print(list1)

['hello', 10.8, -4.5, True]

In [15]:
#Functions for list

#Indexing on list --- indexes always start from 0

list1[0]# Print value at index number 0

'hello'

In [16]:
list1[3] # given index --> asking for the value

True

In [17]:
# given value --> finding the index

list1.index(True)

3

In [16]:
# Index fn gives the index value of the first occurring value. We dont get the index for the recurring values

In [20]:
#adding values to a list

#concat --> extend fn -- always add a List only

list1.extend(['Data science'])

In [21]:
list1

['hello', 10.8, -4.5, True, 'Data science']

In [23]:
list2 = list1 + ["new DS"]
list2

['hello', 10.8, -4.5, True, 'Data science', 'new DS']

In [25]:
#append fn - add a value to a list

list1.append('Hi')

In [26]:
list1

['hello', 10.8, -4.5, True, 'Data science', 'Hi']

In [29]:
l4 = [10,20,30,40,50]
l5 = []

#for loop 

for name in l4:
    l5.append(name-2)

In [30]:
l5

[8, 18, 28, 38, 48]

In [32]:
l5.insert(0,1000)

In [33]:
l5

[1000, 8, 18, 28, 38, 48]

In [36]:
l5.insert(10,400) #listname.insert(index,value)

In [37]:
l5

[1000, 8, 18, 28, 38, 48, 400, 400]